body {
  color: $color-main;
  font-family: $font-main;
  counter-reset: recommendations;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

h1, h2 {
  color: $color-accent;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.25rem;
  @include font(1.5rem, 500, 1.4);
}

a {
  color: $color-link;

  &:hover {
    color: darken($color-link, 5%);
  }
}

ul, ol {
  @include font(1.5rem, 500, 1.4);

  li {
    margin-bottom: 1.25rem;
  }
}

ol {
  padding-left: 1.75rem;
}

@include until($md) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p, ul, ol {
    font-size: 1.25rem;
  }

  ul, ol {
    li {
      margin-bottom: 1rem;
    }
  }
}
