// font-family: 'Montserrat', sans-serif;

// fonts
$font-main: 'Montserrat', sans-serif;

// colors
$color-main: #322f32;
$color-accent: #181F59;
$color-secondary: #255448;
$color-border: #f8f5f4;
$color-link: #0000ff;
$color-underline: #fb4803;
$color-yellow: #fff704;

// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;